// Contact page (/contact)

#contact {

  .email-at{
    
    margin: 2.5em 0;
    
    p {
      margin: 0;
    }
    
    .inline-container {
      width: 100%;
      
      a {
        color: _palette(accent);
        font-size: 1.1em;
        font-weight: 500;
        font-family: _font(family-heading);
        border-bottom: none;
        transition: color 0.3s ease;
        
        &:hover {
          color: darken(#eb8a02, 10%) !important;
        }
      }

      span:focus {
        display: inline-block;
        outline: none;
        border: 0;
        text-align: right;
      }

    }
  }

}

.inline {
    min-width: 150px;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 15;
    outline: 0;
    border: 0;
    text-align: right;
}
