/* Skills */

.skills .title {
	text-align: center;
}

.skill-button-container {
	margin: 1.5em 0;
	text-align: center;
}

.skillbutton {
	box-shadow: none;
	outline: none
}

.skillbutton-active {
	box-shadow: inset 0 0 0 1px _palette(accent);
	color: _palette(accent) !important;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:12px;
	width:100%;
	background: #eee;
	height:32px;
	border-radius: 8px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
	overflow: hidden;
}


.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight: 600;
	font-size:12px;
	color: #fff;
	background: _palette(dark-tourquoise);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 16px;
	height:32px;
	line-height:32px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.skillbar-bar {
	height:32px;
	width:0px;
	background: _palette(dark-tourquoise);
	border-radius: 8px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:10px;
	height:32px;
	line-height:32px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}
