/* Hamburger */

.hamburger-container {
  .menu-hover {
    color: _palette(fg-bold);
    font-size: 1.5em;
    cursor: pointer;
    padding: 0 1em;
    transition: color 0.3s ease;

    &:hover {
      color: _palette(accent);
    }
  }
}
